---

---

<div id="myCanvas"></div>

<script is:inline type="module">
  import * as THREE from "three";
  import { OrbitControls } from "three/addons/controls/OrbitControls.js";
  import { STLLoader } from "three/addons/loaders/STLLoader.js";

  const numColumns = 12; // Number of columns
  const numRows = 18; // Number of rows

  const width = 100;
  const height = 100;

  const scene = new THREE.Scene();
  const camera = new THREE.OrthographicCamera(
    width / -1,
    width / 1,
    height / 1,
    height / -1,
    1,
    1000
  );

  const renderer = new THREE.WebGLRenderer();
  renderer.setSize(window.innerWidth / 2, window.innerHeight * 0.9);

  const canvas = document.getElementById("myCanvas");
  canvas.appendChild(renderer.domElement);

  const light = new THREE.HemisphereLight(0xffffff, 0x000000, 5);
  scene.add(light);

  var grid = new THREE.GridHelper(200, 20);
  scene.add(grid);

  const controls = new OrbitControls(camera, renderer.domElement);
  camera.position.set(-100, 100, 100);
  controls.update();

  let walls = [];

  let wallsForm = document.getElementById("walls");
  wallsForm.addEventListener("submit", (e) => {
    e.preventDefault();

    let n = 0;
    for (let i = 0; i < numRows; i++) {
      walls.push([]);
      for (let j = 0; j < numColumns; j++) {
        walls[i][j] = {
          x: j % 2 !== 0 ? 1 : 0,
          y: i % 2 !== 0 ? 1 : 0,
          n: n,
        };
        n++;
      }
    }

    for (let i = 0; i < numRows; i++) {
      for (let j = 0; j < numColumns; j++) {
        walls[i][j].x = document.getElementsByName(`${walls[i][j].n}y`)[0]
          .checked
          ? 1
          : 0;
        walls[i][j].y = document.getElementsByName(`${walls[i][j].n}x`)[0]
          .checked
          ? 1
          : 0;
      }
    }

    const apiUrl = "/box/creator";
    const requestOptions = {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: walls,
    };

    fetch(apiUrl, requestOptions)
      .then((response) => {
        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.arrayBuffer(); // Fetch the data as an ArrayBuffer
      })
      .then((arrayBuffer) => {
        // Load the STL Model using STLLoader
        const loader = new STLLoader();
        const geometry = loader.parse(arrayBuffer); // Parse the ArrayBuffer to geometry

        const material = new THREE.MeshPhongMaterial({ color: 0x555555 });
        const mesh = new THREE.Mesh(geometry, material);
        scene.add(mesh);

        // Set initial position and scale of the model
        mesh.position.set(0, 0, 0);
        mesh.rotation.set(-Math.PI / 2, 0, 0);
        mesh.scale.set(1, 1, 1); // Adjust scale according to your model
      })
      .catch((error) => {
        console.error("Error loading model:", error);
      });
  });

  function animate() {
    requestAnimationFrame(animate);
    controls.update();
    renderer.render(scene, camera);
  }

  renderer.setAnimationLoop(animate);
</script>
<style>
  #myCanvas {
    width: 50vw;
    height: 90vh;
  }
</style>
